.calcPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftP {
    width: 22%;
}

.rightP {
    width: 22%;
}

.centerP {
    width: 56%;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 900px;
}

.calcContent {
    padding: 60px;
}