.calcSetupPage {
    display: flex;
    margin-top: 100px;
}

.centerP2 {
    width: 56%;
    color: rgb(16, 57, 84);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    min-height: 900px;
}